{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block html_head_end %}
    <link href="{% static 'account/css/style.css' %}" rel="stylesheet">
{% endblock %}


{% block page_body_container %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {{ form.username.errors }}
      {% render_field form.username class+="fadeIn second" placeholder="Username" %}
      {{ form.password.errors }}
      {% render_field form.password class+="fadeIn third" placeholder="Password" %}
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>


  </div>
</div>
{% endblock %}